# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/

# Environments
.env

# Data Files (Do not commit local data)
**/data/*
!**/data/**/
!**/data/**/.gitkeep
*.csv
*.json
*.xlsx
*.parquet

# IDEs
.idea/
.vscode/
